div {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70%;
  gap: 20px;
  align-items: center;
}
input {
  width: 40%;
}

button {
  width: 40%;
  background-color: black;
  color: white;
  border-radius: 30px;
}
